@media all and (max-width: 991px){
	.news__item_mobile{
		display: block;
	}
	.news__items .desk{
		display: none;
	}
	.info__text{
		font-weight: 700;
		padding: 1rem .8rem;
	}
	.nav img{
		width: 150px;
	}
	.nav a{
		font-size: 15px;
		white-space: nowrap;
	}
}
@media all and (max-width: 800px) {
	.credit__text{
		padding: 1rem 2rem;
	}
	.navbar{
		display: none;
	}
	.navbar-light{
		display: flex;
		justify-content: space-between;
	}
	.credit__info{
		padding: 0;
	}
	.offers_desk{
		display: none;
	}
	.offers{
		display: block;
	}


	.disappear{
		display: none;
	}
	.mobile_link{
		display: block;
	}
}
@media all and (max-width: 768px) {
	.footer__nav{
		flex-direction: row;
	}
}
@media all and (max-width: 480px) {
	.credit__links{
		flex-direction: column;
	}
	.credit__link{
		text-align: center;
	}
	.mobile_link{
		display: none;
	}
}
@media all and (max-width: 320px){
	.footer__nav{
		flex-direction: column;
	}
}
